<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Olá <%= nomeUsuario %></h1>
    <form action="/confirmarcontato" method="get">
        <p>
            <label for="nome">Nome:</label>
            <input type="text" name="nome" id="nome">
        </p>
        <p>
            <label for="email">E-Mail:</label>
            <input type="email" name="email" id="email">
        </p>
        <button type="submit">Enviar</button>
    </form>
</body>
</html>