<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Usuario</title>
</head>
<body>
    <h1>Cadastro de Usuario</h1>
    <% if(typeof(errors) != 'undefined') { %>
        <p style="color: red;">ERROR</p>
        <ul>
            <% errors.forEach((error) => { %>
                <li><%= error.msg %></li>
            <% }) %>
        </ul>
    <% } %> 
    <form action="/usuarios/criar" method="post" enctype="multipart/form-data">
        <p><label for="nome">Nome:</label>
            <input type="text" name="nome" id="nome"></p>
        <p><label for="email">E-Mail:</label>
            <input type="email" name="email" id="email"></p>
        <p><label for="senha">Senha:</label>
            <input type="password" name="senha" id="senha"></p>
        <p><label for="imagem">Imagem:</label>
            <input type="file" name="imagem" id="imagem"></p>
        <button type="submit">Enviar</button>
    </form>
</body>
</html>