<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <img src="/images/logo-DH.png" alt="" height="50px">
      <nav>
        <ul>
          <li><a href="/">Cursos</a></li>
          <li><a href="/estudantes">Estudantes</a></li>
          <li><a href="/contato">Contato</a></li>
        </ul>
      </nav>
    </header>