<%- include('./partials/header') %>
    <main>
      <h1><%= title %></h1>
      <p>Bem-vindo a página de <%= title %></p>
      <img src="/images/fone.png" alt="telefone" height="40px">
    </main>
<%- include('./partials/footer') %>